# Secrets & env
.env

# SSL / TLS
data/ssl/
*.key
*.pem
*.crt
*.csr
data/opendkim/

# Mail data & queues
data/mail/
data/dovecot/
data/spool/

# Logs
logs/
*.log
tmp/
*.pid
*.sock

# Editor/OS junk
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db