# Binaries
bin/

# Secrets & env
.env
dovecot/passwd

# SSL / TLS
*.key
*.pem
*.crt
*.csr

# Mail data & queues
data/
.container_uids.mk

# Logs
logs/
*.log
tmp/
*.pid
*.sock

# Rust build artifacts
target/
Cargo.lock
*.pdb

# Editor/OS junk
.vscode/
!.vscode/setings.json
.idea/
*.swp
.DS_Store
Thumbs.db