# Backward Compatibility
compatibility_level=3.6

# Service
daemon_directory = /usr/lib/postfix/sbin

# Identity
myhostname = ${MAIL_HOST}
mydomain = ${MAIL_DOMAIN}
myorigin = ${MAIL_DOMAIN}

# Network
smtp_dns_support_level = enabled
inet_interfaces = all
inet_protocols = ipv4
mydestination = ${MAIL_HOST}, localhost.${MAIL_DOMAIN}, localhost
smtp_host_lookup = native
#dns_server = 8.8.8.8,8.8.4.4
#dns_resolver_options = timeout:2 retry:2

# Relay & anti-relay
relay_domains =
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, defer_unauth_destination
mynetworks = 127.0.0.0/8

# TLS
smtpd_tls_cert_file = /etc/ssl/certs/postfix.pem
smtpd_tls_key_file = /etc/ssl/private/postfix.key
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_protocols = !SSLv2, !SSLv3
smtpd_tls_loglevel = 1

# SASL
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes
smtpd_sasl_type=dovecot
smtpd_sasl_path=inet:${DOVECOT_AUTH_HOST}:${DOVECOT_AUTH_PORT}

# Milter (DKIM)
milter_default_action = accept
milter_protocol = 6
smtpd_milters = inet:${OPENDKIM_IP}:8891
non_smtpd_milters = inet:${OPENDKIM_IP}:8891

# Virtual delivery via Dovecot LMTP
virtual_transport=lmtp:inet:${DOVECOT_LMTP_HOST}:${DOVECOT_LMTP_PORT}
virtual_mailbox_domains = hash:/etc/postfix/virtual_domains
virtual_mailbox_maps = hash:/etc/postfix/vmailbox
virtual_alias_maps = hash:/etc/postfix/virtual_aliases

# Logging via syslog (container stdout)
maillog_file = /dev/stdout

# Limits
smtpd_recipient_limit = 100
message_size_limit = 30720000

# Optional hardening
smtpd_helo_required = yes
disable_vrfy_command = yes