myhostname = mail.local
mydomain = localdomain
myorigin = $mydomain
inet_interfaces = all
inet_protocols = ipv4
mydestination = localhost
relayhost =
mynetworks_style = host
recipient_delimiter = +
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

virtual_alias_domains = $mydomain
virtual_alias_maps = hash:/etc/postfix/virtual

# TLS
smtpd_tls_security_level = may
smtp_tls_security_level = may
smtpd_tls_auth_only = yes
smtpd_tls_loglevel = 1

# SASL with Dovecot
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth

# OpenDKIM milter (TCP)
milter_default_action = accept
milter_protocol = 6
smtpd_milters = inet:opendkim:8891
non_smtpd_milters = $smtpd_milters

# Basic relay restrictions
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, defer_unauth_destination